<div id="ct-dashboard" class="row justify-content-center">
  <% @view_model.each do |vm| %>
    <%= render 'shared/widget', view: vm[:view], class: vm[:class] + ' ct-tile', title:vm[:title], locals: populate_locals(vm) %>
  <% end %>
</div>
