<% url = local_assigns.fetch(:url)
primary = local_assigns.key?(:primary) ? local_assigns.fetch(:primary) : nil;
%>
<div data-view="<%= url %>" <%= primary != nil ? "data-primary=#{primary}" : ''  %>>
  <%= render 'shared/big_loading' %>
</div>
