<div class="row justify-content-around">
  <div class="col-xl-6">
    <%= render 'screener/table' %>
  </div>
  <div class="col-xl-6 col-lg-8 col-md-12">
    <% if current_page?('/screener/update') || current_page?('/screener/update_filter') %>
      <%= render 'screener/configure_update' %>
    <% else %>
      <%= render 'screener/configure_index' %>
    <% end %>
  </div>
</div>