<div class="ct-table-body-parent">
  <div class="list-group">
    <% @screeners.each do |screener|
      is_active = (@entry != nil and screener.id == @entry.id)
    -%>
            <%= link_to screener.name,
                        screener_update_path(id: screener.id),
                        class: ('list-group-item list-group-item-action list-group-item-dark' + (is_active ? ' active' : '')) %>
    <% end -%>
  </div>
</div>
<% if @screeners.empty? %>
  <div class="alert alert-secondary" role="alert">No entries to display</div>
<% end %>