<div class="rounded bg-secondary p-2 m-5 h-75">
  <div class="scene">
    <div class="pacman bg-secondary">
      <%= image_tag "ajax-loader.gif" %>
    </div>
    <span class="food text-white"><% (1..1000).each do |index| %> .<% end %> </span>
  </div>
</div>