<% record = local_assigns.fetch(:record)
p record.errors.any?
%>
<% if record.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <%
        p  record.errors.full_messages
        record.errors.full_messages.each do |msg| %>
        <li>
          <%= msg %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>