<% cols = local_assigns.fetch(:cols)
   row_class = (local_assigns.key? :class) ? local_assigns.fetch(:class) : ''
%>
<div class="row <%= row_class %>">
  <% cols.each do |col| %>
    <%= render 'shared/widget', view: col[:view], class: col[:class], locals: populate_locals(col) %>
  <% end %>
</div>

