
<div class="field form-group row">
  <%= label_tag(:buy_symbol, "Buy", class: 'col-sm-6 col-form-label') %>
  <div class="col-sm-6">
    <input class="form-control" type="text" placeholder="<%= @trade.buy_symbol %>" readonly>
  </div>
</div>