<button type="button" id="ct-refresh-btn" class="btn btn-sm btn-outline-danger">
  &#x21bb; <span id="ct-refresh-count" class="badge badge-danger"></span>
  <span class="sr-only">timeout</span>
</button>