<div>
  <div class="card border-dark ct-card">
    <div class="card-body text-light bg-dark">

      <ul class="nav nav-pills nav-fill" role="tablist">
        <li class="nav-item">
          <a class="nav-link text-white active" data-toggle="tab" href="#tabFun" role="tab">
            Funds
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" data-toggle="tab" href="#tabNew" role="tab">
            New Trade
          </a>
        </li>
      </ul>

      <br/>
      <div class="tab-content">
        <% port_content = render 'ledger/portofolio' %>
        <%= render 'shared/tab', active: true, label: 'Funds', id: 'tabFun', kind: 'secondary', content: port_content %>

        <% dep_content = render 'trade/create_trade' %>
        <%= render 'shared/tab', label: 'New trade', id: 'tabNew', kind: 'success', content: dep_content %>

       </div>

    </div>
  </div>
</div>