<%= render 'shared/container', class: 'ct-ledger-index', tabs: [
    find_vm_by_kind(:funds).merge({id: 'tabFun', active: @tab == 'index', label: 'Funds'}),
    {id: 'tabDep', active: @tab == 'deposit', label: 'Deposit', view: 'ledger/create_transac',
     locals: {url: ledger_deposit_url, prefix: 'ct-dep', kind: 'success', label: 'Deposit'}},
    {id: 'tabWit', active: @tab == 'withdraw', label: 'Withdraw', view: 'ledger/create_transac',
     locals: {url: ledger_withdraw_url, prefix: 'ct-wit', kind: 'danger', label: 'Withdraw'}},
    {id: 'tabReg', active: @tab == 'regul', label: 'Regulation', view: 'ledger/regul'},
    {label: 'Ticker', path: ledger_ticker_url}
] %>
<div class="d-none" data-func="load-ledger"></div>
