@mixin adapt-columns($adapt-cols, $table-class) {

  @each $adapt-col, $col-num in $adapt-cols {

    @if ($col-num != 1) {
      @include media-breakpoint-up(lg) {
        $col-index: $col-num;
        @while ($col-index <= 12) {

          .col-lg-#{$col-index} .#{$table-class} th:nth-child(#{$adapt-col}),
          .col-lg-#{$col-index} .#{$table-class} td:nth-child(#{$adapt-col}) {
            display: table-cell;
          }
          $col-index: $col-index + 1;
        }
      }

      // Phones
      .col-12 .#{$table-class} th:nth-child(#{$adapt-col}),
      .col-12 .#{$table-class} td:nth-child(#{$adapt-col}) {
        display: none;
      }

    }

  }
}

