// Place all the styles related to the application controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
@import "pacman";

body {
  background-color: black;
  overflow: hidden;
}


.ct-content {
  max-height: calc(100vh - 6rem);
  overflow-y: auto;
}

.ct-sm-menu {
  margin-bottom: 0.25rem;
}

.ct-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.ct-notif {
  z-index: $zindex-popover;
  position: absolute;
  text-align: center;
  top: 0;
  left: calc(50vw - 10rem);
  width: 20rem;
  padding: 0.25rem 1.5rem;
}

.alert ul {
  margin-bottom: 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-height: 2.5rem;
  overflow-y: hidden;
}

.footer a.nav-link {
  color: gray('500');
}

.footer li.active a.nav-link {
  color: gray('100');
}

.footer mark {
  background-color: inherit;
  color: gray('100');
}

.footer .navbar {
  padding: 0;
}

.sm-hide {
  display: none;
}

.lg-hide {
  display: block;
}

.nav-pills .nav-link {
  padding: 0.25rem 0.5rem;
  font-size: 0.95rem;
}

@include media-breakpoint-up(sm) {

}

@include media-breakpoint-up(md) {

}

@include media-breakpoint-up(lg) {
  .nav-pills .nav-link {
    font-size: 1rem;
    padding: 0.5rem 0.75rem;
  }

  .sm-hide {
    display: block;
  }

  .lg-hide {
    display: none;
  }
}

@include media-breakpoint-up(xl) {

}

@import "adapt-columns";
@import "coins";
@import "table-shared";
@import "card";
@import "trade";
@import "ledger";
@import "history";
@import "screener";
@import "settings";
@import "dashboard";
@import "select2-bootstrap";
