// Place all the styles related to the application controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap';
@import 'pacman';

body {
  background-color: #000;
  overflow: hidden;
}

.ct-sm-menu {
  margin-bottom: 0.25rem;
}

.ct-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ct-notif {
  left: calc(50vw - 10rem);
  padding: 0.25rem 1.5rem;
  position: absolute;
  text-align: center;
  top: 0;
  width: 20rem;
  z-index: $zindex-popover;
}

.alert ul {
  margin-bottom: 0;
}

.footer {
  bottom: 0;
  max-height: 2.5rem;
  overflow-y: hidden;
  position: absolute;
  width: 100%;
}

.footer .nav-link {
  color: gray('500');
}

.footer .active .nav-link {
  color: gray('100');
}

.footer mark {
  background-color: inherit;
  color: gray('100');
}

.footer .navbar {
  padding: 0;
}

.sm-hide {
  display: none;
}

.lg-hide {
  display: block;
}

.nav-pills .nav-link {
  font-size: 0.95rem;
  padding: 0.25rem 0.5rem;
}

@include media-breakpoint-up(lg) {
  .nav-pills .nav-link {
    font-size: 1rem;
    padding: 0.5rem 0.75rem;
  }

  .sm-hide {
    display: block;
  }

  .lg-hide {
    display: none;
  }
}

.nav-pills .ct-bg-tab-primary.active {
  background-color: theme-color('primary');
}

.nav-pills .ct-bg-tab-secondary.active {
  background-color: theme-color('secondary');
}

.nav-pills .ct-bg-tab-success.active {
  background-color: theme-color('success');
}

.nav-pills .ct-bg-tab-info.active {
  background-color: theme-color('info');
}

.nav-pills .ct-bg-tab-danger.active {
  background-color: theme-color('danger');
}

@import 'adapt-columns';
@import 'coins';
@import 'table-shared';
@import 'card';
@import 'trade';
@import 'ledger';
@import 'history';
@import 'screener';
@import 'settings';
@import 'dashboard';
@import 'select2-bootstrap';
