// Place all the styles related to the application controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

body {
  font-size: 1.1rem;
  background-color: black;
  overflow: hidden;
}

.ct-notif {
  z-index: $zindex-popover;
  position: absolute;
  top:0;
  left: calc(50vw - 15rem);
  width: 30rem;
  padding: 0.25rem 1.5rem;
}

.alert ul {
  margin-bottom: 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 1.5;
}

.footer a.nav-link {
  color: gray('500');
}

.footer li.active a.nav-link {
  color: gray('100');
}

.footer mark {
  background-color: inherit;
  color: gray('100');
}

.footer .navbar {
  padding: 0;
}


@include media-breakpoint-up(sm) {
  body {
    font-size: 1.0rem;
  }
}


@include media-breakpoint-up(md) {

}

@include media-breakpoint-up(lg) {
  body {
    font-size: 0.9rem;
  }

}

@include media-breakpoint-up(xl) {

}

@import "coins";
@import "table-shared";
@import "card";
@import "trade";
@import "ledger";
@import "history";
@import "screener";
@import "settings";
@import "dashboard";
@import "select2-bootstrap";
