
.ct-card-title {
  font-size: 1rem;
  margin-bottom: 0;
  padding: 0.3rem 1.25rem;
  text-align: center;
  text-transform: uppercase;
}


.ct-card-btn-submit {
  padding: 0.5rem 1rem;
}

@include media-breakpoint-up(xl) {
  .ct-card-content {
    max-height: none;
    overflow-y: visible;
  }

}

.ct-page .card-body {
  max-height: calc(100vh - 11rem);
  overflow-y: auto;
}


@include media-breakpoint-up(lg) {
  .ct-page .card-body {
    max-height: calc(100vh - 12rem);
    overflow-y: auto;
  }
}
