
.ct-table-coins-parent {
  max-height: calc(100vh - 10.5rem);
  overflow-y: auto;
}

.ct-table-coins th {
  padding: 0.25rem !important;
}

// 1: Symbol
// 2: 1h Change
// 3: 24h Change
// 4: 7d Change
// 5: Name
// 6: Price USD
// 7: Price BTC
// 8: 24h Vol.
// 9: Market cap
// 10: Rank
// 11: Cmc link
$adapt-cols: (1 1) (2 1) (3 1) (4 1) (5 12) (6 6) (7 12) (8 6) (9 9) (10 12) (11 9);
@include adapt-columns($adapt-cols, 'ct-react-coins');
