

.ct-table-coins-parent {
  max-height: calc(100vh - 13rem);
  overflow-y: auto;
}


// Name
.ct-table-coins th:nth-child(5),
.ct-table-coins td:nth-child(5),
  // Price BTC
.ct-table-coins th:nth-child(7),
.ct-table-coins td:nth-child(7),
  // 24h Vol.
.ct-table-coins th:nth-child(8),
.ct-table-coins td:nth-child(8),
  // Market cap
.ct-table-coins th:nth-child(9),
.ct-table-coins td:nth-child(9),
  // Rank
.ct-table-coins th:nth-child(10),
.ct-table-coins td:nth-child(10),
  // Cmc link
.ct-table-coins th:nth-child(11),
.ct-table-coins td:nth-child(11) {
  display: none;
}

@include media-breakpoint-up(sm) {
  .ct-table-cell-deco {
    display: inline-block;
  }

  .ct-table-coins-parent {
    max-height: calc(100vh - 12.5rem);
  }
}


@include media-breakpoint-up(md) {
  // 24h Vol.
  .ct-table-coins th:nth-child(8),
  .ct-table-coins td:nth-child(8) {
    display: table-cell;
  }
}

@include media-breakpoint-up(lg) {
  .ct-table-coins-parent {
    max-height: calc(100vh - 12rem);
  }

  // Cmc link
  .ct-table-coins th:nth-child(11),
  .ct-table-coins td:nth-child(11) {
    display: table-cell;
  }
}

@include media-breakpoint-up(xl) {
  // Name
  .ct-table-coins th:nth-child(5),
  .ct-table-coins td:nth-child(5),
  // Rank
  .ct-table-coins th:nth-child(10),
  .ct-table-coins td:nth-child(10),
    // Market Cap
  .ct-table-coins th:nth-child(9),
  .ct-table-coins td:nth-child(9),
    // Price BTC
  .ct-table-coins th:nth-child(7),
  .ct-table-coins td:nth-child(7) {
    display: table-cell;
  }
}