
$cur-height: 20;
@while $cur-height <= 80 {
  #ct-dashboard .ct-h-#{$cur-height} .ct-table-body-parent, #ct-dashboard .ct-h-#{$cur-height} .ct-table-coins-parent {
    min-height: 2.5rem;
    max-height: calc(#{$cur-height}vh - 2.5rem);
    overflow-y: auto;
  }

  #ct-dashboard .ct-h-#{$cur-height} .ct-table-body-parent-footer {
    min-height: 2.5rem;
    max-height: calc(#{$cur-height}vh - 5rem);
    overflow-y: auto;
  }

  $cur-height: $cur-height + 5;
}

.ct-tile {
  margin-bottom: 1rem;
}

.ct-dash-title {
  border-radius: 0.4rem 0.4rem 0 0;
}

.ct-table-settings-tiles {
  margin-bottom: 2rem;
}
