@keyframes pacman {
  from {
    left: -98%;
  }

  to {
    left: calc(-2% - 24px);
  }
}

.scene {
  clip-path: polygon(2% 2%, 98% 2%, 98% 98%, 2% 98%);
  height: calc(24px + 0.25rem);
  min-height: calc(24px + 0.25rem);
  max-height: calc(24px + 0.25rem);
  overflow: hidden;
}

.pacman {
  position: relative;
  left: -98%;
  top: 0;
  width: calc(100% + 24px);
  z-index: $zindex-tooltip;
  animation: pacman 5s ease-in-out 0s infinite normal;
  text-align: right;
}

.food {
  position: relative;
  left: 0;
  top: calc(-24px - 0.25rem);
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;

}