// Place all the styles related to the screener_controller controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.ct-table-screener th:last-child,
.ct-table-screener td:last-child {
  width: 20%;
}

.ct-screener-view .card-body {
  padding: 0.75rem 1rem;

}

.ct-filter-parent {
  max-height: calc(100vh - 26rem);
  overflow: auto;
}

.ct-screener-view .ct-table-coins-parent {
  max-height: calc(100vh - 19rem);
}

.ct-screener-content .ct-card-content {
  overflow: hidden;
}

.ct-screener-content .ct-table-body-parent {
  max-height: calc(100vh - 19rem);
}

#tabRun .ct-card-content {
  max-height: calc(100vh - 7.5rem);
  overflow-y: auto;
}

@include media-breakpoint-up(lg) {
  #tabRun .ct-card-content {
    max-height: calc(100vh - 7.5rem);
    overflow-y: auto;
  }

  .ct-screener-view .ct-table-coins-parent {
    max-height: calc(100vh - 16rem);
  }

  .ct-screener-content .ct-card-content {
    max-height: calc(100vh - 14.8rem);
    overflow-y: auto;
  }

  .ct-screener-content .ct-table-body-parent {
    max-height: none;
  }
}


.ct-screener-item .card-body {
  padding: 0.5rem;
}

