

#ct-dash > .ct-card-content {
  max-height: calc(100vh - 15rem);
}

.ct-settings-dash-create .ct-card-content, .ct-settings-dash-update .ct-card-content {
  max-height: calc(100vh - 20rem);
}

#ct-dash .card-body {
  padding: 0;
}