
.ct-table {
  font-size: 0.925rem;
  margin-bottom: 0;
  table-layout: fixed;
}

.ct-nothing {
  font-size: 0.825rem;
}

.ct-table th {
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: capitalize;
  white-space: nowrap;
}

.ct-table th .alert {
  margin: 0;
  padding: 0.125rem;
}

.ct-table td {
  text-align: center;
}

.ct-table td .alert {
  margin-bottom: 0;
  padding: 0.25rem 0.05rem;
}


.ct-table-head {
  margin-bottom: 0;
}

.ct-table-head th {
  padding: 0.5rem;
}

.ct-table-head tr {
  height: 2.5rem;
}

.ct-table-body-parent {
  margin-bottom: 0.5rem;
  max-height: calc(80vh - 8.5rem);
  overflow-y: auto;
}

.ct-table-cell-chip {
  border-radius: 0.25rem;
  margin: 0;
  overflow: hidden;
  padding: 0.125rem;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ct-table-cell-deco {
  display: none;
}

.ct-table-btn {
  padding: 0.25rem 1.25rem;
}

@include media-breakpoint-up(sm) {
  .ct-table-cell-deco {
    display: inline-block;
  }
}

@include media-breakpoint-up(xl) {
  .ct-table-body-parent {
    max-height: calc(100vh - 9rem);
  }
}
