// Place all the styles related to the trade controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Date
.ct-table-trade th:nth-child(1),
.ct-table-trade td:nth-child(1),
  // Start
.ct-table-trade th:nth-child(4),
.ct-table-trade td:nth-child(4),
  // Current
.ct-table-trade th:nth-child(5),
.ct-table-trade td:nth-child(5),
  // Trailing stop
.ct-table-trade th:nth-child(7),
.ct-table-trade td:nth-child(7),
  // Init stop
.ct-table-trade th:nth-child(8),
.ct-table-trade td:nth-child(8),
  // Risk
.ct-table-trade th:nth-child(9),
.ct-table-trade td:nth-child(9) {
  display: none;
}

@include media-breakpoint-up(md) {
  // Date
  .ct-table-trade th:nth-child(1),
  .ct-table-trade td:nth-child(1),
    // Current
  .ct-table-trade th:nth-child(5),
  .ct-table-trade td:nth-child(5) {
    display: table-cell;
  }
}

@include media-breakpoint-up(xl) {

  // Start
  .ct-table-trade th:nth-child(4),
  .ct-table-trade td:nth-child(4),
    // Trailing stop
  .ct-table-trade th:nth-child(7),
  .ct-table-trade td:nth-child(7),
    // Risk
  .ct-table-trade th:nth-child(9),
  .ct-table-trade td:nth-child(9) {
    display: table-cell;
  }
}

@include media-breakpoint-up(xl) {
  // Init stop
  .ct-table-trade th:nth-child(8),
  .ct-table-trade td:nth-child(8) {
    display: table-cell;
  }
}

.ct-trade-index .nav-pills .nav-item:nth-child(1) .nav-link.active {
  background-color: theme-color('secondary');
}

.ct-trade-index .nav-pills .nav-item:nth-child(2) .nav-link.active {
  background-color: theme-color('success');
}

.ct-trade-update .nav-pills .nav-item:nth-child(1) .nav-link.active {
  background-color: theme-color('info');
}

.ct-trade-update .nav-pills .nav-item:nth-child(2) .nav-link.active {
  background-color: theme-color('primary');
}

.ct-trade-update .nav-pills .nav-item:nth-child(3) .nav-link.active {
  background-color: theme-color('danger');
}