<div class="row justify-content-center">
  <div class="col-4">
    <div class="jumbotron">
      <h3>About Crytrade</h3>
      <br/>
      <p>The purpose of this site is to achieve 2 goals:</p>
      <ul>
        <li>Allow the tenure of a proper trade journal</li>
        <li>Help out in finding trade opportunities</li>
      </ul>
      <p>Exchanges only allow to trade upon a limited set of crypto-currencies pairs. It has the unfortunate consequences to make it harder to properly evaluate the quality of a trade, due to price variance of the multiple assets involved; by presenting the trade using a reference currency, this site allows some clarity.</p>

      <p>A big thank you to <a href="www.coinmarketcap.com">Coin Market Cap</a> for all their work, and particularly for providing live currency pricing through their API, which Crytrade uses.</p>
      <p>This project is open source and currently available on
        <a href="https://github.com/Contrevent/crytrade" target="_blank">GitHub</a>. Feel free to register suggestions,
        issues and even to contribute there.</p>
    </div>
  </div>
</div>